/* =================================
    
==================================== */

:root {

   /* ===================================
      Шрифт
   ====================================== */

   --f-family: "Montserrat", serif;
   --f-optical-sizing: auto;
   --f-weight: 400;
   --f-style: normal;

   /* ===================================
      Z-index
   ====================================== */

   /* Первый слой: для фона */
   --z-index-1: 1;

   /* Второй слой: для шапки и меню */
   --z-index-2: 100;

   /* ===================================
      Размеры
   ====================================== */

   /* -------------------- Длины */

   /* Высота контента шапки */
   /* общая высота: calc(--header-h + 2 * --indent-1) */
   --header-h: 60px;

   /* -------------------- Отступы */

   /* Глобальный отступ */
   --indent-1: 24px;
   --indent-2: 18px;
   --indent-3: 12px;
   --indent-4: 6px;
   --indent-5: 4px;
   --indent-6: 2px;

   /* -------------------- Раудисы */

   /* Глобальный радиус для крупных объектов */
   --radius-1: 8px;
   --radius-2: 6px;
   --radius-3: 4px;
   --radius-4: 2px;

   /* -------------------- Непрозрачность */
   --opacity-100: 1;
   --opacity-80: .8;
   --opacity-60: .6;

   /* -------------------- Длительность анимации */
   --duration-s: 150ms;
   --duration-m: 300ms;
   --duration-l: 400ms;

   /* -------------------- Граница */

   /* Основной стандартный размер для границы всех блоков */
   --border-size-main: .5px;

   /* ===================================
      Функции
   ====================================== */

   /* -------------------- Фильтры */

   /* Рамытие для блоков */
   --blur-main: blur(10px);


   /* ===================================
      Цвета
   ====================================== */

   /* -------------------- Фон */

   /* Основной цвето фона */
   --bg-main: #121315;

   /* Дополнительный цвет (прозрачный градиент) */
   --bg-second: linear-gradient(to right, rgba(34, 86, 255, .05), rgba(115, 34, 255, .05));

   /* Узор фона */
   --bg-pattern: radial-gradient(circle, rgba(255, 255, 255, .1) 2px, transparent 1px);

   /* -------------------- Блоки */
   --block-bg-1: rgba(255, 255, 255, .05);

   /* -------------------- Текст */

   /* Основной цвет текста */
   --text-color: rgba(255, 255, 255, 1);
   --text--unactive-color: rgba(255, 255, 255, .6);


   /* -------------------- Другие цвета */
   --geld-100: rgba(255, 221, 0, 1);
   --geld-80: rgba(255, 221, 0, .8);
   --geld-60: rgba(255, 221, 0, .6);
   --geld-10: rgba(255, 221, 0, .1);


   /* -------------------- Граница */

   /* Основной цвет для границ всех блоков */
   --border-color-main: rgba(255, 255, 255, .05);

   /* -------------------- Дополнительно */

   /* Убирает синий фон объектов которые выделяются */
   --tap-bg: rgba(0, 0, 0, 0);

   /* Цвет выделенного текста */
   --selection: rgba(255, 255, 255, 0.2);
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {
   :root {
      /* Узор фона */
      --bg-pattern: radial-gradient(circle, rgba(255, 255, 255, .1) 1px, transparent 2px);

      /* Глобальный отступ */
      --indent-1: 12px;
   }
}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */