/* =================================
    
==================================== */

body {
   position: relative;
   background: var(--bg-pattern), var(--bg-second), var(--bg-main);
   background-size: 10px 10px, cover, cover;
   background-blend-mode: soft-light, normal, normal;
}

#wrapper {
   z-index: var(--z-index-1);
   position: relative;
   min-width: 320px;
   min-height: 100lvh;
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */