/* =================================
    
==================================== */

.app {
   position: relative;
   min-height: 100lvh;
   width: 100%;
}

.app-container {
   margin: 0 auto;
   max-width: 1364px;
   width: 100%;
   min-height: 100lvh;
}

.main {
   padding: calc(2 * var(--indent-1) + var(--header-h)) var(--indent-1) var(--indent-1);
   width: 100%;
   min-height: 100lvh;
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */